In [81]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss
import pickle

In [2]:
data = pd.read_csv('data/fraud.csv')

In [7]:
data.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
step              int64
type              object
amount            float64
nameOrig          object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest          object
oldbalanceDest    float64
newbalanceDest    float64
isFraud           int64
isFlaggedFraud    int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [56]:
cols_to_keep = ['amount', 'newbalanceOrig', 'isFlaggedFraud']

In [72]:
X = data.loc[:, cols_to_keep]

In [73]:
y = data.loc[:, 'isFraud']

In [74]:
len(y), len(X)

(6362620, 6362620)

In [75]:
sss = StratifiedShuffleSplit(n_splits=2, test_size=0.2, random_state=0)
sss.get_n_splits(X, y)

2

In [76]:
for train_index, test_index in sss.split(X, y):
    # print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.values[train_index], X.values[test_index]
    y_train, y_test = y.values[train_index], y.values[test_index]

In [63]:
X_train.info()

AttributeError: 'numpy.ndarray' object has no attribute 'info'

In [52]:
model = LogisticRegression(penalty='l2')

In [77]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [107]:
y_test_pred = model.predict_proba(X_test)

In [79]:
model.score(X_test, y_test)

0.9987088652159016

In [80]:
log_loss(y_test, y_test_pred)

0.050098757165710335

In [90]:
pickle_path = './model.pkl'
model_pickle = open(pickle_path, 'wb')

In [91]:
pickle.dump(model, model_pickle)

In [92]:
model_pickle.close()

In [103]:
path = 'model.pkl'
model_unpickle = open(path, 'rb')

In [104]:
pkl_model = pickle.load(model_unpickle)

In [108]:
pkl_model.score(X_test, y_test)

0.9987088652159016

In [110]:
X_test[100]

array([135977.22,      0.  ,      0.  ])

In [113]:
model.predict_proba([[135977.22,      0.  ,      0.  ]])

array([[0.95884301, 0.04115699]])